<% if current_user %>

  <div class="container d-flex justify-content-center pt-5">
    <div class="card" style="width: 30rem;">
      <div class="card-body">
        <h5 class="card-title">Welcome to Dashboard</h5>

        <h6 class="card-subtitle mb-2 text-muted">User information</h6>
        <p class="card-text">User name : <%= current_user.username %></p>
        <p class="card-text">User Email : <%= current_user.email %></p>
        <%= link_to 'Log out', logout_path %>
      </div>
    </div>
  </div>


<% else %>

<div class="container d-flex justify-content-center pt-5">
  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title">User information not abailable</h5>
      <h6 class="card-subtitle mb-2 text-muted">Registration or Log in first please.</h6>
      <%= link_to 'Sign up', signup_path %> Or <%= link_to 'Log in ', login_path %>
    </div>
  </div>
</div>

<% end %>