<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller] %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div class="container">
      <div id="user_header">
        <% if current_user %>
          Logged in as <%= current_user.email %>.
          <%= link_to "Log Out", logout_path %>
        <% else %>
          <%= link_to "Sign Up", sign_up_path %> or
          <%= link_to "Log In", log_in_path %>
        <% end %>
      </div>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, class: "alert alert-#{key}") do %>
          <p><%= value %></p>
        <% end %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
